DATABASE_URL=postgresql://postgres.jluadyrdvitmunfzfpjt:r29UFnRM1L2rLumN@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
AUTH_SECRET="change-me-with-a-strong-random-string"
STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_PRICE_ID="price_xxx"
STRIPE_WEBHOOK_SECRET="whsec_xxx"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
